* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:focus {
    outline: none !important;
}


.nik {
    font-style: italic;
}

.emph {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.indent {
    height: 1em;
}

.spacer {
    width: 0.5em;
}


h1, h2, h3, h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#navbar {
    height: 4.4rem;

    display: flex;
    justify-content: space-between;
    padding: 1em;

    position: relative;

    background-color: #fff;
    box-shadow: 0px 0px 20px #d2d2d2;
}

#navbar > ul {
    display: inline-block;
}

#navbar > ul > * {
    display: inline-block;
}

#navbar > .brand-logo {
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    font-size: 2rem;
    color: black;
}


.brand-logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}


.global-selection {
    padding: 0.5rem 1rem;

    text-transform: uppercase;
    color: black;

    border-bottom: 5px solid transparent;
}

.global-selection.selected {
    border-color: #ddd;
}


.slide {
    height: 100%;
    overflow: auto;
}

.hat {
    height: 100%;
}


.floating {
    box-shadow:
        rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
        rgba(0, 0, 0, 0.12) 0px 3px 1px -2px,
        rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
}

.topic {
    overflow: hidden;
    border-radius: 4px;
    margin-bottom: 1.5rem;
}

.topic > .question {
    /* background-color: #424242; */
    background-color: #4c4a48;
    color: white;
}

.topic > .question,
.topic > .answer {
    padding: 0.5em;
    word-break: break-word;
}


textarea {
    resize: none;
    height: 6em;

    padding: 0.5em !important;

    font-size: 1.3em;

    background-color: white;
    border-radius: 4px;

    border: none;

    /* otherwise ios safari doesn't render shadows */
    -webkit-appearance: none;
}

textarea::placeholder {
    color: #777;
}

